* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    height: 5000px;
    width: 1920px;
}

.y1,
.y2,
.y3 {
    border: 1px solid gray;
    height: 60px;
}

.h3 {
    color: rgb(189, 170, 2);
}

#t8 {
    color: rgb(255, 236, 131);

}

#r3 {
    color: rgb(189, 170, 2);
}

.header {
    width: 100%;
    height: 800px;

}

.nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}

.nav_left {
    font-size: 25px;
    color: #171717;
}

.nav_right {
    display: flex;
    gap: 25px;
    font-size: 20px;

}

li {
    list-style: none;
}

li.active,
.nav_right:hover {
    cursor: pointer;
    color: #c9A96E;
}

.header_block {
    height: 700px;
    width: 100%;
    background-image: url("Your\ images\ here.png");
}

.nav_text {
    align-items: center;
    position: relative;
    top: 500px;
    left: 260px;
    font-size: 40px;
    color: #fff;

}

.p1 {
    font-size: 14px;
}

h6 {
    color: rgb(189, 170, 2);
}

i {
    font-size: 14px;
}



.hero3,
.hero4,
.hero5,
.hero6,
.hero7,
.hero8 {
    width: 440px;
    height: 420px;
    border: 1px solid whitesmoke;
    font-size: 20px;
    text-align: center;
}


.r4 {
    width: 370px;
    height: 280px;
}

.r5 {
    width: 370px;
    height: 280px;
}

.r6 {
    width: 370px;
    height: 280px;
}

.r7 {
    width: 370px;
    height: 280px;
}

.r8 {
    width: 370px;
    height: 280px;
}

.r9 {
    width: 370px;
    height: 280px;
}

.r10,
.r11,
.r12,
.r13 {
    width: 270px;
    height: 180px;
}



.block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    width: 770px;
    justify-content: center;
    margin-left: 450px;
}

.block1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    width: 770px;
    justify-content: center;
    margin-left: 450px;

    position: relative;
}

.block2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 880px;
    width: 770px;
    justify-content: center;
    margin-left: 450px;
    bottom: 200px;
    position: relative;
}

.block3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 680px;
    width: 770px;
    justify-content: center;
    margin-left: 450px;
    bottom: 350px;
    position: relative;
}

.conteiner2 {
    display: grid;
    justify-content: center;
    height: 2855px;
    width: 300px;
    float: right;
    margin-right: 140px;




}

.hero10 {
    width: 300px;
    height: 350px;
    border: 1px solid whitesmoke;
    font-size: 14px;
    text-align: center;
    position: relative;
    top: 40px;
}

.hero11 {
    width: 300px;
    height: 320px;
    border: 1px solid whitesmoke;
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 200px;
}

.hero12 {
    width: 300px;
    height: 320px;
    border: 1px solid whitesmoke;
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 150px;
}

.hero13 {
    width: 300px;
    height: 320px;
    border: 1px solid whitesmoke;
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 100px;
}

.rbig {
    width: 770px;
    height: 450px;
}

.herobig {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(206, 206, 206);
    font-size: 20px;
}

.nav1 {
    position: relative;
    left: 20px;
}

.i2 {
    font-size: 12px;
    color: gray;
}

.i3 {
    font-size: 14px;
    color: grey;
}

.container3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 800px;
    width: 770px;
    position: relative;
    bottom: 520px;
    margin-left: 450px;

}

.container4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 800px;
    width: 770px;
    position: relative;
    bottom: 850px;
    margin-left: 450px;
}

.block4,
.block5,
.block6,
.block7 {
    width: 440px;
    height: 420px;
    border: 1px solid whitesmoke;
    font-size: 20px;
    text-align: center;
}

.img1,
.img2,
.img3,
.img4 {
    width: 370px;
    height: 280px;
}

.block_post {
    width: 509px;
    height: 50px;
    position: relative;
    border: 1px solid whitesmoke;
    bottom: 950px;
    left: 570px;
    display: flex;

}

.nav_post {
    width: 100%;
    height: 50px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style: none;
}

.li1 {
    font-size: 14px;
    color: #797979;
}

.li2 {
    font-size: 14px;
    color: #797979;
}

.li3 {
    font-size: 16px;
}

.block_long {
    width: 2200px;
    height: 367px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    bottom: 750px;
    right: 325px;
}

.hero_long1 {
    width: 296px;
    height: 296px;
}

.b_follow {
    font-size: 20px;
}

.header_y4 {
    width: 332px;
    height: 32px;
    position: relative;
    bottom: 200px;
    left: 1150px;
    font-size: 24px;
}

.nav_lf {
    font-size: 14px;
    color: gray;
}

.nav_rg {
    font-size: 14px;
    color: gray;
}

.div_categories {
    width: 300px;
    height: 310px;
    display: flex;
    justify-content: space-between;

}

.header_h3 {
    width: 300px;
    height: 310px;


}

.nav_categories {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 80px;


}

li {
    list-style: none;
}

.h3-categories {
    width: 300px;
    height: 60px;
    border: 1px solid gray;
    font-size: 16px;

}

.h3_header {
    display: flex;
    justify-content: space-between;
    align-self: center;
    text-align: center;
    position: relative;
    top: 50px;
}

.div_media {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 колонки */
    grid-gap: 10px;
    height: 340px;
    width: 300px;
    position: relative;
    bottom: 50px;
    left: 20px;
}

.div_soc_media {
    text-align: center;
    position: relative;
    bottom: 100px;
    left: 20px;
}

.header_soc_media {
    position: relative;
    left: 0px;
    bottom: 70px;
    border: 1px solid gray;
    width: 300px;
    text-align: center;
    font-size: 16px;
    height: 60px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.line {
    display: flex;
    margin-bottom: 10px;
    font-size: 14px;
    color: #666666;
    position: relative;
    bottom: 0px;
}

.line_p1 {
    text-align: center;
    border: 1px solid gray;
    font-size: 16px;
    width: 300px;
    height: 60px;
    position: relative;
    bottom: 0px;
}

.p_tags {
    margin: 10px 20px;
}

.footer {

    position: relative;
    width: 1170px;
    height: 261px;
    bottom: 600px;
    left: 400px;
    display: grid;
    text-align: center;
    align-items: center;
}

.footer_b {
    font-size: 25px;
    color: black;
}

.nav_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 353px;
    height: 18px;
    position: relative;
    left: 400px;
    gap: 40px;
    font-size: 14px;
}

.div_img_footer {
    display: flex;
    gap: 30px;
    height: 34px;
    width: 504px;
    position: relative;
    left: 380px;
}

.img_footer1 {
    height: 16px;
    width: 9px;
}

.img_footer2 {
    height: 12.75px;
    width: 15.58px;
}

.img_footer3 {
    width: 12.03px;
    height: 15.54px;
}

.img_footer4 {
    width: 20px;
    height: 13px;
}

.img_footer5 {
    width: 18.42px;
    height: 11.33px;
}

.img_footer6 {
    width: 17px;
    height: 17px;
}

.div_img_footer2 {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c9A96E;
}

.div_img_footer1 {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_top {
    position: relative;
    top: 50px;
}